<div class="card mt-5 mb-5"  *ngIf="selectHeadFlag">
          
    <div class="card-body ">
        <div class="row">
            <H5>{{'Select Head'}}</H5> 
            
            <hr>
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">S. NO</th>
                    <th scope="col">MEMBER NO</th>
                    <th scope="col">FIRST NAME</th>
                    <th scope="col">LAST NAME </th>
                    <th scope="col">
                        MIDDLE NAME
                    </th>
                    <th scope="col">
                        FATHER/HUSBAND NAME
                    </th>
                    <th scope="col">
                        HOUSE NO
                    </th>
                    <th scope="col">
                        GALI
                    </th>
                    <th scope="col">
                        AREA
                    </th>
                    <th scope="col">
                        CITY
                    </th>
                    <th scope="col">
                        HEAD
                    </th>
                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of data let j=index" #ref>
                        <th scope="row">{{j}}</th>
                        <td>{{data.first_name}}</td>
                        <td>{{data.middle_name}}</td>
                        <td>{{data.last_name}}</td>
                        <td>{{data.relative}}</td>
                        <td>{{data.house_no}}</td>
                        <td>{{data.gali_mohalla}}</td>
                        <td>{{data.house_no}}</td>
                        <td>{{data.area}}</td>
                        <td>{{data.city}}</td>
                        <td>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="customRadio1" value="head" name="head"  (change)="selectHead(data,j,$event,ref)" class="custom-control-input">
                                
                              </div>
                        
                        </td>
                     

                      </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="card-footer">
        <button type="button" class="btn btn-primary text-end" (click)="onCancel()">cancel</button>
        <button type="button" class="btn btn-primary text-end" (click)="onheadSelect(data)">Select Head</button>

    </div>
 </div>

 <div class="card mt-5 mb-5"  *ngIf="!selectHeadFlag">
    <form [formGroup]="form">     
    <div class="card-body ">
        <div class="row">
            <H5>{{'Create Family'}}</H5> 
            
            <hr>
            <div class="col-md-4">
                <label for="house_no" class="form-label">Family Name</label>
                <input type="text" formControlName="family_name" class="form-control">
            </div>
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">S. NO</th>
                    <th scope="col">MEMBER NO</th>
                    <th scope="col">FIRST NAME</th>
                    <th scope="col">LAST NAME </th>
                    <th scope="col">
                        MIDDLE NAME
                    </th>
                    <th scope="col">
                        FATHER/HUSBAND NAME
                    </th>
                    <th scope="col">
                        HOUSE NO
                    </th>
                    <th scope="col">
                        GALI
                    </th>
                    <th scope="col">
                        AREA
                    </th>
                    <th scope="col">
                        CITY
                    </th>
                    <th scope="col">
                        HEAD
                    </th>
                  </tr>
                </thead>
                <tbody formArrayName="realtion">
                    <tr *ngFor="let data of data let j=index" [formGroupName]="j" #ref >
                        <th scope="row">{{j}}</th>
                        <td>{{data.first_name}}</td>
                        <td>{{data.middle_name}}</td>
                        <td>{{data.last_name}}</td>
                        <td>{{data.relative}}</td>
                        <td>{{data.house_no}}</td>
                        <td>{{data.gali_mohalla}}</td>
                        <td>{{data.house_no}}</td>
                        <td>{{data.area}}</td>
                        <td>{{data.city}}</td>
                        <td>
                           
                                <select *ngIf="data.id!=head.id" id="address_type" formControlName="relation" class="form-select"
                                [compareWith]="compareFn" >
                                <option selected>Select Relation...</option>
                                <!-- <option *ngFor="let unit of weightOptions" [ngValue]="unit">{{unit.name}}</option> -->
                            </select>
                            <span *ngIf="data.id==head.id">Head</span>
                       
                        </td>
                     

                      </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>

    <div class="card-footer">
        <button type="button" class="btn btn-primary text-end" (click)="onReturn()">cancel</button>
        <button type="button" class="btn btn-primary text-end" (click)="onSave(data)">Save Family</button>

    </div>
 </div>
