<form [formGroup]="form">
<div class="card ">
    
    <div class="card-body">
        <h4>{{'Add Member'}}</h4>
        <hr>
        <div class="row pt-3" [formGroup]="form1">
            
            <div class="col-md-3" >
                <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio1" value="Member"  [formControlName]="'member'" class="custom-control-input">
                    <label class="custom-control-label" for="customRadio1">Member</label>
                  </div>
                  
                </div>
            <div class="col-md-3">
                <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio2" value="NonMebmer" [formControlName]="'member'"  class="custom-control-input">
                    <label class="custom-control-label" for="customRadio2">None Member</label>
                </div>
            </div>
            <div class="col-md-6 ">

            </div>
            
            <div class="form-group required col-md-3">
                <label for="member_type" class="form-label">Member Type</label>
                <!-- <input type="text" formControlName="weight_unit" class="form-control" id="inputWeightUnit"> -->
                <select id="member_type" formControlName="member_type" class="form-select"
                    [compareWith]="compareFn" >
                    <option selected>Choose...</option>
                    <option *ngFor="let types of membership_type" [value]="types">{{types.name}}</option>
                    <!-- <option *ngFor="let unit of weightOptions" [ngValue]="unit">{{unit.name}}</option> -->
                </select>
            </div>

            <div class="col-md-3">
                <label for="member_no" class="form-label">Member No</label>
                <input type="text" formControlName="member_no" class="form-control">
            </div>
            <div class="col-md-6 d-none-md">

            </div>
        </div>
        <div class="row" [formGroup]="form2">
            <div class="col-md-4">
                <label for="first_name" class="form-label">Fiest Name</label>
                <input type="text" formControlName="first_name" class="form-control">
            </div>
            <div class="col-md-4">
                <label for="middle_name" class="form-label">Middle Name</label>
                <input type="text" formControlName="middle_name" class="form-control">
            </div>
            <div class="col-md-4">
                <label for="last_name" class="form-label">Last Name</label>
                <input type="text" formControlName="last_name" class="form-control">
            </div>
            <div class="form-group col-md-4">
                <label for="dob" class="form-label">Date of Birth
                </label>
                  <div class="input-group mb-3">
                      <input id="last_name" aria-label="Sub Total"
                          aria-describedby="basic-addon2"
                          bsDatepicker
                          class="form-control"
                          [formControlName]="'dob'" type="text" >
                          
                  </div>
              </div>

              <div class="form-group col-md-4">
                <label for="age" class="form-label">Age </label>
                  <div class="input-group mb-3">
                      <input id="last_name" aria-label="Sub Total"
                          aria-describedby="basic-addon2" class="form-control"
                          [formControlName]="'age'" type="text" >
                          
                  </div>
              </div>

              <div class="form-group col-md-4">
                <label for="relative" class="form-label">Father/Husband Name </label>
                  <div class="input-group mb-3">
                      <input id="last_name" aria-label="Sub Total"
                          aria-describedby="basic-addon2" class="form-control"
                          [formControlName]="'relative'" type="text" >
                          
                  </div>
              </div>


              

              <div class="form-group col-md-4">
                <label for="last_nameemail" class="form-label">Email id </label>
                  <div class="input-group mb-3">
                      <input id="last_name" aria-label="Sub Total"
                          aria-describedby="basic-addon2" class="form-control"
                          [formControlName]="'email'" type="text" >
                          
                  </div>
              </div>

              <div class="form-group col-md-4">
                <label for="website" class="form-label">Website</label>
                  <div class="input-group mb-3">
                      <input id="last_name" aria-label="Sub Total"
                          aria-describedby="basic-addon2" class="form-control"
                          [formControlName]="'website'" type="text" >
                          
                  </div>
              </div>
            </div>
            <div class="row">
                <div class="col-md-2" formGroupName="form2">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio1" value="Male"  [formControlName]="'gender'" class="custom-control-input">
                        <label class="custom-control-label" for="customRadio1">Male</label>
                      </div>
                      
                    </div>
            
              <div class="col-md-2" formGroupName="form2">
                <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio1" value="Female"  [formControlName]="'gender'" class="custom-control-input">
                    <label class="custom-control-label" for="customRadio1">Female</label>
                  </div>
                  
                </div>
              </div>
             
              <div class="row">
                  <div class="col-md-2" formGroupName="form2">
                    <div class="custom-control custom-radio">
                        <input class="custom-control-input" value="Business" type="radio" [formControlName]="'category'" id="flexRadioDefault1">
                          <label class="form-check-label" for="flexRadioDefault1">
                            Business
                          </label>
                    </div>
                </div>
  
                <div class="col-md-2">
                  <div class="custom-control custom-radio" formGroupName="form2">
                      <input class="custom-control-input" value="Service" type="radio" [formControlName]="'category'" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                          Service
                        </label>
                  </div>
              </div>
  
                <div class="col-md-2">
                    <div class="custom-control custom-radio" formGroupName="form2">
                      <input class="custom-control-input" value="Student" type="radio" [formControlName]="'category'" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                          Student
                        </label>
                    </div>
                </div>
                <div class="form-group col-md-3" formGroupName="form2">
                  <label for="details" class="form-label">Detailes </label>
                    <div class="input-group mb-3">
                        <input id="details" aria-label="Sub Total"
                            aria-describedby="basic-addon2" class="form-control"
                            [formControlName]="'details'" type="text" >
                            
                    </div>
                </div>
                <div class="form-group col-md-3" formGroupName="form2">
                  <label for="date_of_joining" class="form-label">Date of Joining</label>
                    <div class="input-group mb-3">
                        <input id="date_of_joining" aria-label="Sub Total"
                            aria-describedby="basic-addon2" class="form-control"
                            bsDatepicker
                            [formControlName]="'date_of_joining'" type="text" >
                            
                    </div>
                </div>
  
  
                  <div class="col-md-2">
                    <div class="custom-control custom-radio" formGroupName="form2">
                        <input class="custom-control-input" value="Female" type="radio" [formControlName]="'married_status'" id="flexRadioDefault1">
                          <label class="form-check-label" for="flexRadioDefault1">
                            Married
                          </label>
                    </div>
                </div>
  
                  <div class="col-md-2">
                      <div class="custom-control custom-radio" formGroupName="form2">
                        <input class="custom-control-input" value="Female" type="radio" [formControlName]="'married_status'" id="flexRadioDefault1">
                          <label class="form-check-label" for="flexRadioDefault1">
                            Un Married
                          </label>
                      </div>
                  </div>
                  <div class="col-md-2 d-none-md">
                    
                </div>
                <div class="form-group col-md-3" formGroupName="form2">
                  <label for="data_of_married" class="form-label">Date Of Married </label>
                    <div class="input-group mb-3">
                        <input id="data_of_married" aria-label="Sub Total"
                            aria-describedby="basic-addon2" class="form-control"
                            bsDatepicker
                            [formControlName]="'data_of_married'" type="text" >
                            
                    </div>
                </div>
                <div class="form-group col-md-3" formGroupName="form2">
                  <label for="fee_paid_upto" class="form-label">Fees Paid Upto</label>
                    <div class="input-group mb-3">
                        <input id="fee_paid_upto" aria-label="Sub Total"
                            aria-describedby="basic-addon2" class="form-control"
                            [formControlName]="'fee_paid_upto'" type="text" >
                            
                    </div>
                </div>
  
  
              </div>
           <hr class="mt-3">
                <div class="row" formGroupName="form2">
                    <div formArrayName="contacts">
                        <div class="from-group col-md-3" *ngFor="let contact of contacts.controls let i=index" [formGroupName]="i">
                            <label for="contact" class="form-label">contact</label>
                            <div class="input-group">
                                <input type="text" formControlName="contact" class="form-control">
                                
                                <button class="btn btn-outline-secondary" (click)="removeContact(i)"
                                        type="button"><i class="far fa-trash-alt"></i></button>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <hr class="mt-3">

                <button type="button" class="btn btn-primary" (click)="addcontact()">Add</button>
        <div class="row" [formGroup]="form2">
            <div class="card mt-4" formArrayName="addresses" style="width: 95%; max-width: 1000px; margin: 0 auto;">
                <div class="card-body" *ngFor="let address of addresses.controls let i=index" [formGroupName]="i">
                    <div class="row">
                        <hr class="mt-2" *ngIf="i>0">
                        <div class="col text-center" *ngIf="i<0">
                            <h5>No address Avalible</h5>
                        </div>
                        <div class="col-md-4">
                            <label for="address_type" class="form-label">Address Type</label>
                            <select id="address_type" formControlName="address_type" class="form-select"
                            [compareWith]="compareFn" >
                            <option selected>Choose...</option>
                            <option *ngFor="let types of address_type" [value]="types.id">{{types.type}}</option>
                            
                            <!-- <option *ngFor="let unit of weightOptions" [ngValue]="unit">{{unit.name}}</option> -->
                        </select>
                        </div>
                        <div class="col-md-4">
                          <label for="country" class="form-label">Country</label>
                          <select id="country" (change)="onCountrySelect($event)" formControlName="country" class="form-select"
                          [compareWith]="compareFn" >
                          <option selected>Choose...</option>
                          <option *ngFor="let country of countries" [value]="country.id">{{country.name}}</option>
                          </select>
                      </div>
                      <div class="col-md-4">
                          <label for="state" class="form-label">state</label>
                          <select id="state" (change)="onStateSelect($event)" formControlName="state" class="form-select"
                          [compareWith]="compareFn" >
                          <option selected>Choose...</option>
                          <option *ngFor="let state of states" [value]="state.id">{{state.name}}</option>
                          </select>
                      </div>
                      <div class="col-md-4">
                          <label for="city" class="form-label">City</label>
                          <select id="city" (change)="onCitySelect($event)" formControlName="city" class="form-select"
                          [compareWith]="compareFn" >
                            <option selected>Choose...</option>
                            <option *ngFor="let city of cities" [value]="city.id">{{city.name}}</option>
                          </select>
                      </div>
                        
                        <div class="col-md-4">
                            <label for="area" class="form-label">Area</label>
                            <angular2-multiselect class="flex-grow-1" id="area" [data]="areas"
                                      formControlName="area" [settings]="areadropdownSettings"
                                      (onSelect)="onAreaSelect($event)" (onAddFilterNewItem)="addNewArea($event,i,gm)">
                                      <c-item>
                                          <ng-template let-item="item">
                                              <label>{{item.name}}</label>
                                          </ng-template>
                                      </c-item> 
                                      <c-badge>
                                          <ng-template let-item="item">
                                              <label style="margin: 0px;">{{item.name}}</label>
                                          </ng-template>
                                      </c-badge>
                            </angular2-multiselect>
                      </div>
                        <div class="col-md-4">
                            <label for="gali_mohalla" class="form-label">Gali/Mohalla</label>
                            <angular2-multiselect class="flex-grow-1" id="area" [data]="galliMohalla" #gm
                                      formControlName="gali_mohalla" [settings]="galiMohallaDropdownSettings"
                                      (onSelect)="onAreaSelect($event)" (onAddFilterNewItem)="addNewGaliMohalla($event,i,gm)">
                                      <c-item>
                                          <ng-template let-item="item">
                                              <label>{{item.name}}</label>
                                          </ng-template>
                                      </c-item> 
                                      <c-badge>
                                          <ng-template let-item="item">
                                              <label style="margin: 0px;">{{item.name}}</label>
                                          </ng-template>
                                      </c-badge>
                           </angular2-multiselect>
                        </div>
                        <div class="col-md-4">
                          <label for="house_no" class="form-label">House No</label>
                          <input type="text" formControlName="house_no" class="form-control">
                      </div>
                        <div class="col-md-4">
                            <label for="landmark" class="form-label">Landmark</label>
                            <input type="text" formControlName="landmark" class="form-control">
                        </div>
                        
                        <div class="col-md-4">
                            <label for="pincode" class="form-label">Pincode</label>
                            <input type="text" formControlName="pincode" class="form-control">
                        </div>

                        
                        
                        <div class="col text-end">
                            <button class="btn btn-outline-secondary" style="margin-top: 28px;" (click)="removeAddress(i)"
                                        type="button">{{i+1}} <i class="far fa-trash-alt"></i></button>
                        </div>
                    </div>
                    
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-primary text-end"   (click)="addaddress()">Add</button>
                </div>
            </div>
  </div>
  </div>
  <div class="card-footer">
    <button type="button" class="btn btn-primary text-end" (click)="onCancel()">cancel</button>
    <button type="button" class="btn btn-primary text-end" (click)="onSubmit()">Add Member</button>

</div>
  </div>
</form>